@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

/* all */

* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/*reused classes*/

.simple-p {
  color: #444343;
  font-size: 18px;
}
.container {
  width: 70%;
  margin: auto;
}

/* opening-section */

.opening-section {
  background: url(./photos/banner1.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.opening-contents {
  text-align: end;
}
.opening-contents p {
  padding-bottom: 30px;
}
.opening-contents h1 {
  font-weight: bold;
  font-size: 65px;
  padding-bottom: 30px;
}
.opening-right,
.opening-left {
  width: 50%;
  display: inline-block;
}

.contact-us-btn {
  cursor: pointer;
  background: #f15b22;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 25px 50px;
  font-size: 20px;
}
.contact-us-btn:hover {
  background: #fff;
  color: #f15b22;
  transition: 0.2s;
}

/* failure-section */

.failure-section {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}
.failure-right {
  width: 40%;
  display: block;
  /* padding-top: 200px; */
}
.failure-left {
  width: 50%;
  display: block;
  justify-content: end !important;
}
.image {
  text-align: end;
}
.failure-section h2 {
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 30px;
}

span {
  color: green;
  font-weight: bold;
}
.lists {
  list-style: none;
  padding-top: 30px;
  padding-left: 0;
}
.lists li {
  padding-bottom: 15px;
}

/* plans section */

.plans-section {
  padding-top: 150px;
  padding-bottom: 50px;
}

.plans-section h2 {
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 30px;
  text-align: center;
}

/*icons part */

.icons {
  display: flex;
  padding-top: 50px;
  justify-content:space-around;
  text-align: center;
}

.icons-part {
  list-style: none;
  padding-left: 0;
  margin: auto;
}

.icon-item {
  display: inline-block;
}

.imp-p {
  font-size: 20px;
  padding-bottom: 20px;
}

.icon-heading {
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* call-section */

.call-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}

.call-img-1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}
.call-img-2 {
  position: absolute;
  top: 100px;
  left: 100px;
  border: 1px solid #000000;
}